@if (Sets == null)
{
    <div>Loading brick sets...</div>
}
else
{
    <div>@Sets.Sets.Count sets in collection</div>
    <ul>
        @foreach (var themeSets in Sets.Sets.GroupBy(s => s.Theme).OrderByDescending(t => t.Count()))
        {
            <li><p class="setTheme">@themeSets.Key (@themeSets.Count()) <button @onclick="async () => await AnalyzeTheme(themeSets)">Analyze</button></p>
                @if (Sets.Analysis.TryGetValue("analysis/" + themeSets.Key, out var analysis))
                {
                    <div class="analysis">@analysis</div>
                }
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Pieces</th>
                      <th scope="col">Volume</th>
                    </tr>
                  </thead>
                  <tbody>
                    @foreach (var set in themeSets.OrderByDescending(s => s.Pieces ?? 0).Take(10))
                    {
                        <tr>
                          <th scope="row">@set.Number</th>
                          <td>@set.Set_name</td>
                          <td>@set.Pieces</td>
                          <td>@GetVolumeString(set)</td>
                        </tr>
                    }
                    @if (themeSets.Count() > 10)
                    {
                        <tr>
                          <td colspan="4" class="table-warning">... @(themeSets.Count() - 10) set(s) not shown.</td>
                        </tr>
                    }
                  </tbody>
                </table>
            </li>
        }
    </ul>
}

@code
{
    [Parameter] public BrickSetCollection? Sets { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    async Task AnalyzeTheme(IGrouping<string?, BrickSetItem> setsInTheme)
    {
        SetAnalysis("Analyzing...");
        await Task.Delay(1000);
        SetAnalysis("... Computing...");
        await Task.Delay(1000);
        SetAnalysis("... ... Processing...");
        await Task.Delay(1000);

        SetAnalysis($"Computed {setsInTheme.Sum(s => Math.Max(s.Pieces ?? 0, 0))} pieces!");

        void SetAnalysis(string value)
        {
            Sets!.Analysis["analysis/" + setsInTheme.Key] = value;
            StateHasChanged();
        }
    }

    private decimal? GetVolume(BrickSetItem set)
    {
        var volume = set.Width * set.Height * set.Depth;
        return volume;
    }

    private string GetVolumeString(BrickSetItem set)
    {
        var volume = GetVolume(set);
        if (volume == null)
        {
            return string.Empty;
        }
        return string.Format("{0:n0}cm³", volume);
    }
}
